<h1>Ingrese nuevo Restaurante</h1>
<form action="/restaurant" method="post">

  <label for="">Nombre</label>
  <input type="text">

  <label for="">Direccion</label>
  <input type="text">

  <label for="">Ciudad</label>
  <input type="text">

  <label for="">Telefono</label>
  <input type="text">

  <label for="">tipo de comida</label>
  <input type="text">

  <label for="">Imagen</label>
  <input type="text">

  <input type="submit" value="Enviar">

</form>
